* {
		margin: 0px;
	    padding: 0px;
	    font-family: "Fjalla One";
 }

html {
	  background: black no-repeat center center fixed;
	  background-size: cover;
	  height: 100%;
	  overflow: hidden;
	  position: relative;
}

body {
	 margin:0;
   padding:0;
   height:100%;
}

/*Components/Background/Kards10/images/intro-bg.jpg*/