.homepage {
	text-align: center;
	width: 100%;
	height: 100%;
	position:absolute;
    padding:0;
    margin:0;
    top:0;
    @media screen and (max-width: 600px) {
		overflow: auto;
}

.homepage-container {
	margin-bottom:  20px;
	@media screen and (max-width: 600px) {
		margin-top: 40px;
}
}

.profileimage {
	width: 103px;
	height: 103px;
	clip-path: circle(50% at 50% 50%);
	animation: moveInTop 1.5s;

	 @keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-5rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

   @media screen and (max-width: 600px) {
		    width: 93px;
			height: 93px;
}
}

	.text-box {
		display: inline-block;
		margin-bottom: 25px;

   .title {
		color: white;
		font-size: 4.15rem;
		text-transform: capitalize;
		border-bottom: 1.5px solid #C704F6;
		color: #fff;
		margin-top: 5px;
		margin-bottom: 15px;
		animation-name: moveInLeft;
        animation-duration: 1.9s;

         @media screen and (max-width: 600px) {
			    font-size: 2.1rem;
}

   @keyframes moveInLeft {
	    0% {
	      opacity: 0;
	      transform: translateX(-100%); }
	    80% {
	      opacity: 1;
	      transform: translate(4rem); }
	    100% {
	      opacity: 1;
	      transform: translateX(0); } }

}

	.subtitle {
		  position: relative;
		  text-transform: uppercase;
		  font-style: italic;
		  letter-spacing: 6px;
		  font-size: 2.16rem;
		  font-weight: 900;
		  text-decoration: none;
		  color: white;
		  display: inline-block;
		  background-size: 120% 100%;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -moz-background-clip: text;
		  -moz-text-fill-color: transparent;
		  -ms-background-clip: text;
		  -ms-text-fill-color: transparent;
		  background-clip: text;
		  text-fill-color: transparent;
		  background-image: linear-gradient(45deg, 
		                    #7794ff, 
		                    #44107A,
		                    #FF1361,
		                    #FFF800);
		  animation: .8s shake infinite alternate;

		    @media screen and (max-width: 600px) {
			    font-size: 1.3rem;
}
		  


		@keyframes shake {
		  0% { transform: skewX(-15deg); }
		  5% { transform: skewX(15deg); }
		  10% { transform: skewX(-15deg); }
		  15% { transform: skewX(15deg); }
		  20% { transform: skewX(0deg); }
		  100% { transform: skewX(0deg); }  
}
}
}


.buttons {
	display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    grid-template-rows: 1fr; 
	width: 90%;
	margin: 0 auto;
	animation: moveInBottom 1.5s ease-out;
	 @media screen and (max-width: 600px) {
        margin-bottom: 40px;
}

}

@keyframes moveInBottom {
	    0% {
	      opacity: 0;
	      transform: translateY(20rem); }
	    100% {
	      opacity: 1;
	      transform: translateY(0); } }






.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  bottom: 0%;
  font-weight: lighter;

 text-transform: uppercase;
   @media screen and (max-width: 600px) {
        bottom: -20%;

}

}

.neon {
  color: #bc2a8d;
  font-size: 1.3rem;
  line-height: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
   @media screen and (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
}

}



.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 .1rem #C704F6, 0 0 .1rem #C704F6, 0 0 .1rem #C704F6, 0 0 .1rem #C704F6, 0 0 .1rem #FED128, .1rem .1rem .1rem #806914;
    color: #bc2a8d;
  }
  50% {
    text-shadow: 0 0 .1rem #800E0B, 0 0 1 .1rem #800E0B, 0 0 .1rem #800E0B, 0 0 .1rem #800E0B, 0 0 .1rem #800E0B, .1rem .1rem .1rem #40340A;
    color: white;
  }
}

.thanos {
	position: absolute;
	bottom: 2%;
	left: 1%;
   @media screen and (max-width: 600px) {
	bottom: -25%;
}
}

.text {
	position: absolute;
	bottom: 2%;
	right: 1%;
	 @media screen and (max-width: 600px) {
	bottom: -26%;
}
}



.fa-heart-o {
     
      margin-left: 11px;
      margin-bottom: 3px;
      text-shadow: 
    -.1vw 0vw .25vw #FBB4FF, -.2vw 0vw .25vw #FBB4FF, -.4vw 0vw .25vw #FBB4FF, 
    -.1vw 0vw 1vw #E82FF5, -.2vw 0vw .8vw #E82FF5, -.4vw 0vw .8vw #E82FF5, .2vw 0vw .5vw #E82FF5,
    -.1vw 0vw 10vw #CB16FA, -.2vw 0vw 10vw #CB16FA, -.4vw 0vw 10vw #CB16FA;
  }


  .heart-off {
    animation: heart .1s ease infinite;
    -moz-animation: heart .1s ease infinite;
    /* Firefox */
    -webkit-animation: heart .1s ease infinite;
    /* Safari and Chrome */
    -o-animation: heart .1s ease infinite;
    /* Opera */
  }

  @keyframes heart {
    0%,
    100% {
      /* Enable hardware acceleration to fix laggy transitions */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      color: #FBB4FF;
      text-shadow: 
    -.1vw 0vw .25vw #FBB4FF, -.2vw 0vw .25vw #FBB4FF, -.4vw 0vw .25vw #FBB4FF, 
    -.1vw 0vw 1vw #E82FF5, -.2vw 0vw .8vw #E82FF5, -.4vw 0vw .8vw #E82FF5, .2vw 0vw .5vw #E82FF5,
    -.1vw 0vw 10vw #CB16FA, -.2vw 0vw 10vw #CB16FA, -.4vw 0vw 10vw #CB16FA;
    }
    50% {
      /* Enable hardware acceleration to fix laggy transitions */
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      color: #8F5493;
      text-shadow: 
    -.1vw 0vw .25vw #8F5493, -.2vw 0vw .25vw #8F5493, -.4vw 0vw .25vw #8F5493, 
    -.1vw 0vw .8vw #59125E, -.2vw 0vw .8vw #59125E, -.4vw 0vw .8vw #59125E, .2vw 0vw .5vw #59125E,
    -.1vw 0vw 3vw #42114E, -.2vw 0vw 3vw #42114E, -.4vw 0vw 3vw #42114E;
    }
  }

.made {
  color:white;
  display: inline;
  font-size:18px;
  font-family: "Calibri";

  font-weight: lighter;
  font-style: italic;
  animation: text-flicker 6s linear infinite;
}


@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}




}

	











