.homepage {
	text-align: center;
	position: absolute;
	top: 64%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	


	.profileimage {
		width: 103px;
		height: 103px;
		clip-path: circle(50% at 50% 50%);
		animation: moveInTop 1.5s ease-out;

		  @media screen and (max-width: 600px) {
			    width: 93px;
				height: 93px;
}

		 @keyframes moveInTop {
	    0% {
	      opacity: 0;
	      transform: translateY(-20rem); }
	    100% {
	      opacity: 1;
	      transform: translateY(0); } }
}

	.text-box {
		display: inline-block;
		margin-bottom: 25px;

	.title {
		color: white;
		font-size: 4.15rem;
		text-transform: capitalize;
		border-bottom: 1.5px solid #C704F6;
		color: #fff;
		margin-top: 5px;
		margin-bottom: 15px;
		animation-name: moveInLeft;
        animation-duration: 1.9s;

         @media screen and (max-width: 600px) {
			    font-size: 2.1rem;
}

     @keyframes moveInLeft {
	    0% {
	      opacity: 0;
	      transform: translateX(-100%); }
	    80% {
	      opacity: 1;
	      transform: translate(4rem); }
	    100% {
	      opacity: 1;
	      transform: translateX(0); } }

}

	.subtitle {
		  position: relative;
		  text-transform: uppercase;
		  font-style: italic;
		  letter-spacing: 6px;
		  font-size: 2.16rem;
		  font-weight: 900;
		  text-decoration: none;
		  color: white;
		  display: inline-block;
		  background-size: 120% 100%;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -moz-background-clip: text;
		  -moz-text-fill-color: transparent;
		  -ms-background-clip: text;
		  -ms-text-fill-color: transparent;
		  background-clip: text;
		  text-fill-color: transparent;
		  background-image: linear-gradient(45deg, 
		                    #7794ff, 
		                    #44107A,
		                    #FF1361,
		                    #FFF800);
		  animation: .8s shake infinite alternate;

		    @media screen and (max-width: 600px) {
			    font-size: 1.3rem;
}
		  


		@keyframes shake {
		  0% { transform: skewX(-15deg); }
		  5% { transform: skewX(15deg); }
		  10% { transform: skewX(-15deg); }
		  15% { transform: skewX(15deg); }
		  20% { transform: skewX(0deg); }
		  100% { transform: skewX(0deg); }  
}
}
}


	.buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		display: inline-block;
		animation: moveInBottom 1.5s ease-out;
		margin-left: 20px;

		 @media screen and (max-width: 600px) {
			    margin-top: 60px;
}


		 @keyframes moveInBottom {
	    0% {
	      opacity: 0;
	      transform: translateY(20rem); }
	    100% {
	      opacity: 1;
	      transform: translateY(0); } }
		
	

	}

}











